body {
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

li>div:hover{
    background-color: peachpuff;
    border-radius: 15px;
}

li>div:hover button{
    visibility: visible;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
}